$color_1: #333;
$color_2: #80014b;
$color_3: #2b0019;
$color_4: white;
$color_5: #c20272;
$color_6: #9e9e9e;
$font_family_1: "Open Sans", cursive;
$font_family_2: "Archivo Black", sans-serif;
$background_color_1: rgba(0,0,0,.9);
$background_color_2: white;
$background_color_3: #eee;
$background_color_4: #c20272;