$color_1: #333333;
$color_2: #333;
$color_3: #80014b;
$color_4: #2b0019;
$color_5: white;
$color_6: #c20272;
$font_family_1: "Open Sans", cursive;
$font_family_2: "Archivo Black", sans-serif;
$background_color_1: rgba(255,255,255,0.8);
$background_color_2: rgba(0,0,0,0.85);
$background_color_3: rgba(255,255,255,0.25);
$background_color_4: #eee;
$background_color_5: white;
$background_color_6: #c20272;