<section id="section3" class="panel">
    <h1 class="user-panel-heading">
        Hi, my name is Hillary and these are some of my favourite things. <br>Click on see more info under each favourite thing to view more fun facts.
    </h1>

    <!-- <h4>Click on a favourite thing to learn more info about it.</h4> -->

    <div class="team">
        <!-- loop through all our team members and put their info on the page -->

        <!-- this is exactly like a forEach loop with plain JavaScript -->

        <!-- hbs writes this instead of us writing it, info will replace what is written down below -->

        {{#each person}}
        <div class="user-panel"> 
            <img class="u-avatar" src="images/{{ Image }}" alt="Favourite Thing">

            <a class="u-link" href="{{ ID }}">
                See More Info
            </a>

            <h1>{{ Title }}</h1>
            <h3>{{ Category }}</h3>
        </div>

        {{/each}}

        
    </div>
    </div>

    <!-- this will be filled in on the client side when we render our AJAX data -->
    <section class="lightbox">
        <span class="close">x</span>
        <div class="sidebar">
            <img src="" alt="larger bio image">
        </div>

        <div class="lb-content">
            <!-- render data here, it's driven by db query result -->
        </div>
    </section>
</section>