<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hillary's Favourite Things</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- css stuff -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <link rel="stylesheet" href="css/main.css">

     <link href="https://fonts.googleapis.com/css?family=Archivo+Black%7COpen+Sans" rel="stylesheet">

     <link rel="stylesheet" type="text/css" href="css/foundation.css">
</head>

<body>
<div class="container"><!-- Open container -->

<!-- HEADER -->
<header class="grid-container full" id="mainHeader">
      <div class="grid-x">
        <div class="cell small-12">
            <h1>My Favourite Things</h1>
        </div>
      </div>
</header>

    <main>
        {{{ body }}}
    </main>

<!-- FOOTER -->
<footer class="grid-container full" id="mainFooter">
    <div class="grid-x">
        <div class="cell large-12">
            <p>What are your favourite things? <a href="mailto:h_strong69707@fanshaweonline.ca?">Click here </a> to me email me to discuss!</p>
            <p>Copyright &copy; 2019, Hillary Strong.</p>
        </div>
    </div>  
</footer>

    <script type="module" src="js/main.js"></script>
    <script>
        var name = "Justin";

        console.log('name in main file: ' + name);
    </script>

    {{!-- <!-- templates -> these don't get rendered immediately -->
    <template id="user-template">
        <!-- you can put all kinds of markup here - semantic tagging, etc. -->
        <div class="user-panel">
            <div class="user-panel-header">
                <img class="u-avatar"></img>
                <h1 class="u-name"></h1>
            </div>

            <button class="user-button">More Details</button>
        </div>
    </template>
    <!-- end templates--> --}}

</div><!-- Close container -->

</body>

</html>