#errorPage {
	background-color: $background_color_4;
	text-align: center;
	a {
		color: $color_5;
		font-family: $font_family_1;
		background-color: $background_color_2;
		padding: 15px;
		&:hover {
			color: $color_1;
		}
	}
	h1 {
		color: $color_4;
		font-family: $font_family_2;
		font-weight: 400;
		font-size: 40px;
		padding-top: 175px;
	}
	h3 {
		color: $color_4;
		font-family: $font_family_2;
		font-weight: 400;
		font-size: 30px;
	}
	h4 {
		text-align: center;
	}
}
.error-section {
	color: $color_4;
	text-align: center;
}
.error-title {
	background-color: $background_color_4;
	color: $color_4;
}