.lightbox {
	display: none;
	flex-direction: row;
	min-height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 5000;
	padding: 20px;
	background-color: $background_color_1;
	.sidebar {
		flex: 1;
	}
	.lb-content {
		flex: 3;
	}
	img {
		max-width: 300px;
		padding-right: 30px;
	}
	.close {
		right: 20px;
		top: 18px;
		cursor: pointer;
		font-size: 1em;
		position: fixed;
		border: thick solid #c20272;
		padding: 2px 12px 5px;
		border-radius: 20%;
		background-color: $background_color_2;
	}
}
.show-lb {
	display: flex !important;
}
.u-social {
	li {
		display: inline-block;
		padding: 10px;
	}
}